//global variable
//left menu width
$base-menu-width: 260px;
//folded left menu width
$base-menu-min-width: 50px;
//left menu background-color
$base-menu-background: #001529;
//tab bar height
$base-tabbar-height: 50px;
//left menu logo height
$base-menu-logo-height: 50px;
//left menu logo font size
$base-menu-logo-font-size: 20px;